
body{
    background-image: url(pictures/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed
}
#container {
    background-color: #e4d0b5;
    border: 1px solid black;
    margin: 15px auto auto auto;
    width: 58%;
    min-height: 1000px;
}
#logo {
    float: left;
    margin: 15px 0px 0px 36px;
}
#menu ul {
    list-style-type: none;
    float: left;
    font-size: 24px;
    margin: 0;
}
#menu li {
    width: 130px;
    height: 75px;
    padding: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#menu a {
    text-decoration: none;
    color: black;
    font-family: 'VT323', monospace;
}
#but1 {
    border-bottom: 5px solid red;
}
#menu1 :hover {
    background-color: red;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but2 {
    border-bottom: 5px solid orange;
}
#menu2 :hover {
    background-color: orange;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but3 {
    border-bottom: 5px solid yellow;
}
#menu3 :hover {
    background-color: yellow;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but4 {
    border-bottom: 5px solid lightgreen;
}
#menu4 :hover {
    background-color: lightgreen;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but5 {
    border-bottom: 5px solid rgb(80, 178, 240);
}
#menu5 :hover {
    background-color: rgb(80, 178, 240);
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but6 {
    border-bottom: 5px solid rgb(196, 121, 196);
    height: 70px;
}
#menu6 :hover {
    background-color: rgb(196, 121, 196);
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#main_container {
    margin-top: -5px;
}
#search {
    float: right;
    margin-right: 44px;
    margin-top: 15px;
}
#search input[type=text] {
    border: 1px solid rgb(116, 36, 36);  
    width: 200px;
}
#random_pocs {
    width: 206px;
    margin-top: 10px;
    text-align: center;
    word-spacing: 10px;
    font-family: 'Abel', sans-serif;
    cursor: pointer;
    
}
#random_pocs img {
    border: 1px solid #aa9b86;
    width:90px; 
    height: 90px;
}
#random_pocs a :hover {
    background-color: #d3bfa5;
    border-radius: 10px;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#main_pok {
    width: 800px;
    border-right: 1px solid grey;
}
#pokday {
    display: block;
    margin: 15px;
}
#pokpic {
    width: 350px;
    height: 350px;
    margin: 0px 0px 0px 30px;
    border-radius: 5px;
    background-color: #d3bfa5;
}
h1 {
    text-align: center;
    line-height: 20px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
p {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin: 0px 20px 0px 20px;
}
#pok_stats {
    float: right;
    width: 380px;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
}
#description {
    background-color: #d3bfa5;
    width: 380px;
    margin: 0px;
    border-radius: 2px;
    display: block;
    font-family: 'Abel', sans-serif;
}
#pok_stats ul {
    list-style-type: none;
    text-align: justify;
    background-color: #d3bfa5;
}
#pok_stats li {
    display: inline-flexbox;
}
.right {
    float: right;
}
#height_weight {
    
}

#category_abilities {
    float: right;
}