
body{
    background-image: url(pictures/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed
}
#container {
    background-color: #e4d0b5;
    border: 1px solid black;
    margin: 15px auto auto auto;
    width: 58%;
}
#logo {
    float: left;
    margin: 15px 0px 0px 36px;
}
#menu ul {
    list-style-type: none;
    float: left;
    font-size: 24px;
    margin: 0;
}
#menu li {
    width: 130px;
    height: 75px;
    padding: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#menu a {
    text-decoration: none;
    color: black;
    font-family: 'VT323', monospace;
}
#but1 {
    border-bottom: 5px solid red;
}
#menu1 :hover {
    background-color: red;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but2 {
    border-bottom: 5px solid orange;
}
#menu2 :hover {
    background-color: orange;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but3 {
    border-bottom: 5px solid yellow;
}
#menu3 :hover {
    background-color: yellow;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but4 {
    border-bottom: 5px solid lightgreen;
}
#menu4 :hover {
    background-color: lightgreen;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but5 {
    border-bottom: 5px solid rgb(80, 178, 240);
}
#menu5 :hover {
    background-color: rgb(80, 178, 240);
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#but6 {
    border-bottom: 5px solid rgb(196, 121, 196);
    height: 70px;
}
#menu6 :hover {
    background-color: rgb(196, 121, 196);
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#main_container {
    margin-top: -5px;
    min-height: 1100px;
}
#search {
    float: right;
    margin-right: 44px;
    margin-top: 15px;
}
#search input[type=text] {
    border: 1px solid rgb(116, 36, 36);  
    width: 200px;
}
#random_pocs {
    width: 206px;
    margin-top: 10px;
    text-align: center;
    word-spacing: 10px;
    font-family: 'Abel', sans-serif;
    cursor: pointer;
    
}
#random_pocs img {
    border: 1px solid #aa9b86;
    width:90px; 
    height: 90px;
}
#random_pocs a :hover {
    background-color: #d3bfa5;
    border-radius: 10px;
    -webkit-transition: .15s all;   
    -webkit-transition-delay: 0.15s; 
    -moz-transition: .15s all;   
    -moz-transition-delay: .15s; 
    -ms-transition: .15s all;   
    -ms-transition-delay: 0.15s; 
    -o-transition: .15s all;   
    -o-transition-delay: 0.15s; 
    transition: .15s all;   
    transition-delay: 0.15s; 
}
#main_pok {
    width: 800px;
    border-right: 1px solid grey;
    margin-top: -10px;
}
#pokday {
    display: block;
    margin: 15px;
}
#pokpic {
    width: 350px;
    height: 350px;
    margin: 0px 0px 0px 30px;
    border-radius: 5px;
    background-color: #d3bfa5;
}
h1 {
    text-align: center;
    line-height: 20px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
p {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin: 0px 20px 0px 20px;
}
a {
    text-decoration: none;
}
#pok_stats {
    float: right;
    width: 380px;
    border-radius: 5px;
    margin-right: 20px;
}
#description {
    background-color: #d3bfa5;
    width: 380px;
    margin: 0px;
    border-radius: 2px;
    display: block;
    font-family: 'Abel', sans-serif;
    text-align: center;
}
#pok_stats ul {
    list-style-type: none;
    margin: 10px -10px -10px -20px;
    display: inline-block;
    font-family: 'Ubuntu Mono', monospace;
}
#pok_stats li {
    margin: 10px 0 0 0;
}
#type h4 {
    line-height: 0px;
    font-family: 'Orbitron', sans-serif;
}
#type img {
    margin: -2px;
}
#date {
    color: rgb(133, 123, 105);
}
#news_article {
    width: 520px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: none;
    float: left;
    font-family: 'PT Sans', sans-serif;
}
blockquote {
    font-size: 17px;
    font-family: 'Russo One', sans-serif;
    color: rgb(187, 129, 81);
    margin-bottom: -10px;
}
#slider {
    float: right;
    margin-right: 5px;
    width: 492px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
#img_slider {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}
.slider_images {
    display: flex;
    transform: translateX(0);
    transition: 0.25s;
}
.slider_button {
    background: rgb(74, 72, 224);
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 2.5em;
    width: 2.5em;
    opacity: 0.25;
    position: absolute;
    transition: 0.25;
    z-index: 1;
}
.previous {
    left: 5px;
}
.next {
    right: 5px;
}
.previous:hover, .next:hover {
    opacity: 0.5;
}
#news_article a, #text_1 a {
    color: rgb(187, 129, 81);
    text-decoration: none;
}
#news_article a:hover, #text_1 a:hover {
    color: white;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
footer {
    clear: both;
    margin-bottom: 10px;
}
#links {
    border-right: 1px solid grey;
    margin-left: 300px;
    width: 200px;
    float: left;
}
#social_media {
    display: inline-block;
    width: 180px;
    padding: 0 15px 0 15px;
    border-right: 1px solid grey;
    height: 140px;
}
#social_media img {
    margin-top: 10px;
}
#copyrights {
    font-size: 10px;
    color: grey;
}
footer ol {
    list-style-type: disc;
    margin: 0;
    display: inline-block;
    padding: 5px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a :any-link {
    color: black;
    text-decoration: none;
}
footer a :hover {
    color: white;
}
footer a :active {
    color: rgb(15, 15, 15);
}
footer img {
    width: 30px;
    height: 30px;
}